.underlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: -100vw;
    display: none;
    cursor: pointer;
}

.underlay.open {
    display: initial;
    left: 0;
}

.menu {
    position: fixed;
    width: 240px;
    left: -245px;
    height: 100vh;
    background-color: #171a21;
    color: #fff;
    transition: left 0.2s;
    padding: 0 24px 24px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.menu.open {
    left: 0;
}

.menu ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
