.profile {
    width: 100%;
    padding: 30px;
}

.authHeader {
    color: #fff;
    font-weight: 400;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 24px;
}
