.title {
    font-size: 20px;
    margin: 0 0 0 0;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title a {
    color: #eee;
    text-decoration: none;
    margin: 0 0 0 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
